body{
    background: #313036;
    justify-items: center;
    font-family:monospace ;
}
.progress{
    color: #fff;
    font-weight: bolder;
}
.container{
    padding: 2rem;

}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    border-radius: 100px;
}
.slider{
    width: 500px;
    height: 500px;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 2rem;

}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
